<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ'S</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="faq-background">
    <div class="text-center">
        <h2 class="mt-5 mb-5">FAQ</h2>
      </div>
      <section class="container my-5" id="maincontent">
        <section id="accordion">
          <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-17" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
            <div class="position-relative">
              <h2 class="h4 m-0 pr-3">
                What is Commoners health?
                
              </h2>
              <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </a>
          <div class="collapse" id="faq-17" >
            <div class="card card-body border-0 p-0">
              <p>>>Commoners health,  is an online platform serving patients with quality healthcare facility 
                via online consultations.</p>
    
            </div>
          </div>
    
          <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-18" aria-expanded="false" data-toggle="collapse" href="#faq-18" role="button">
            <div class="position-relative">
              <h2 class="h4 m-0 pr-3">
                How can I access Commoners health?
              </h2>
              <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </a>
          <div class="collapse" id="faq-18" >
            <div class="card card-body border-0 p-0">
              <p>>>Commoners health will be available across computers, smart phones and tablets.</p>
              <p>
              </p>
            </div>
          </div>
    
          <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-19" aria-expanded="false" data-toggle="collapse" href="#faq-19" role="button">
            <div class="position-relative">
              <h2 class="h4 m-0 pr-3">
                When can your patients use Commoners health?
              </h2>
              <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </a>
          <div class="collapse" id="faq-19">
            <div class="card card-body border-0 p-0">
              <p>>>Commoners health should be used when your patients are looking for
                 non-critical care, a follow up or second opinion, reviewing medical reports, 
                 initial treatments etc.An online consultation can sometimes substitute a doctor’s visit.</p>
              <p>
              </p>
            </div>
          </div>
    
          <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
            <div class="position-relative">
              <h2 class="h4 m-0 pr-3">
                Is the patient health data secure?
              </h2>
              <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </a>
          <div class="collapse" id="faq-20">
            <div class="card card-body border-0 p-0">
              <p>>>Yes,patients health data is completely secure.</p>
              <p>
              </p>
            </div>
          </div>
    
          <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-21" aria-expanded="false" data-toggle="collapse" href="#faq-21" role="button">
            <div class="position-relative">
              <h2 class="h4 m-0 pr-3">
                I am not very technology savvy…what do I do?
              </h2>
              <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </a>
          <div class="collapse" id="faq-21">
            <div class="card card-body border-0 p-0">
              <p>>>It is not meant to be for technology savvy people only. 
                The underlying experience that we have focussed on is the ease of use.</p>
              <p>
              </p>
            </div>
          </div>
    
          <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-22" aria-expanded="false" data-toggle="collapse" href="#faq-22" role="button">
            <div class="position-relative">
              <h2 class="h4 m-0 pr-3">
                What is the best time to use the website?
              </h2>
              <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </a>
          <div class="collapse" id="faq-22">
            <div class="card card-body border-0 p-0">
              <p>>>The best time to use this website is 24/7! We are always available anytime.</p>
              <p>
              </p>
            </div>
          </div>
        </section>
      </section>
</body>
</html>