<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/recommendations">Recommendations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/faqs">FAQ's</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
  </ul>
<body>
    
    <div class="diseases">
        <h1 >Common Treatments</h1>
    <div class="col">
        <h2>Acne</h2>
        <ul>
            <h3>Drugs</h3>
          <li>doxycycline</li>
          <li>spironolactone</li>
          <li>minocycline</li>
          <li>Accutane</li>
          <li>clindamycin</li>
        </ul>
      </div>
      <div class="col">
        <h2>AIDS/HIV</h2>
        <ul>
            <h3>Drugs</h3>
          <li>Truvada</li>
          <li>Biktarvy</li>
          <li>Triumeq</li>
          <li>Genvoya</li>
          <li>Stribild</li>
        </ul>
      </div>
      <div class="col">
        <h2>Allergies</h2>
        <ul>
            <h3>Drugs</h3>
          <li>hydroxyzine</li>
          <li>loratadine</li>
          <li>levocetirizine</li>
          <li>Xyzal</li>
          <li>Vistaril</li>
        </ul>
      </div>
      <div class="col">
        <h2>Anxiety</h2>
        <ul>
            <h3>Drugs</h3>
          <li>Xanax</li>
          <li>alprazolam</li>
          <li>lorazepam</li>
          <li>buspirone</li>
          <li>Ativan</li>
        </ul>
      </div>
      <div class="col">
        <h2>Arthritis</h2>
        <ul>
            <h3>Drugs</h3>
          <li>acetaminophen</li>
          <li>NSAIDs </li>
          <li>COX-2 inhibitors</li>
          <li>salicylates</li>
          <li>corticosteroids</li>
        </ul>
      </div>
      <div class="col">
        <h2>Asthma</h2>
        <ul>
            <h3>Drugs</h3>
          <li>Singulair</li>
          <li>montelukast</li>
          <li>prednisone</li>
          <li>Fasenra</li>
          <li>benralizumab</li>
        </ul>
      </div>
      <div class="col">
        <h2> Bipolar Disorder</h2>
        <ul>
            <h3>Drugs</h3>
          <li>Lamictal</li>
          <li>lamotrigine </li>
          <li>Seroquel</li>
          <li>Abilify</li>
          <li>Vraylar</li>
        </ul>
      </div>
      <div class="col">
        <h2>Bronchitis</h2>
        <ul>
            <h3>Drugs</h3>
          <li>Mucinex</li>
          <li>azithromycin </li>
          <li>Azithromycin Dose </li>
          <li>doxycycline</li>
          <li>guaifenesin</li>
        </ul>
      </div>
      <div class="col">
        <h2>Cancer</h2>
        <ul>
            <h3>Drugs</h3>
          <li>carboplatin</li>
          <li>fluorouracil</li>
          <li>doxorubicin</li>
          <li>cyclophosphamide</li>
          <li>etoposide</li>
        </ul>
      </div>
      <div class="col">
        <h2>Cholesterol</h2>
        <ul>
            <h3>Drugs</h3>
          <li>atorvastatin</li>
          <li>simvastatin </li>
          <li>Crestor</li>
          <li>Repatha</li>
          <li>Praluent</li>
        </ul>
      </div>
      <div class="col">
        <h2>Cold and flu</h2>
        <ul>
            <h3>Drugs</h3>
          <li>Benadryl</li>
          <li>diphenhydramine	</li>
          <li>Vicks</li>
          <li>Coricidin HBP</li>
          <li>chlorpheniramine</li>
        </ul>
      </div>
      <div class="col">
        <h2>Constipation</h2>
        <ul>
            <h3>Drugs</h3>
          <li>docusate</li>
          <li>MiraLAX</li>
          <li>Colace</li>
          <li>Dulcolax</li>
          <li>bisacodyl</li>
        </ul>
      </div>
      <div class="col">
        <h2>Depression</h2>
        <ul>
            <h3>Drugs</h3>
          <li>bupropion</li>
          <li>Cymbalta</li>
          <li>sertraline</li>
          <li>Zoloft</li>
          <li>Lexapro</li>
        </ul>
      </div>
      <div class="col">
        <h2>Diabetes(Type1)</h2>
        <ul>
            <h3>Drugs</h3>
          <li>Humalog</li>
          <li>Lantus</li>
          <li>Novolog</li>
          <li>Lantus SoloStar</li>
          <li>Levemir</li>
        </ul>
      </div>
      <div class="col">
        <h2>Diarrhea</h2>
        <ul>
            <h3>Drugs</h3>
          <li>loperamide</li>
          <li>Lomotil</li>
          <li>Imodium</li>
          <li>Imodium A-D</li>
          <li>Anti-Diarrheal</li>
        </ul>
      </div>
      <div class="col">
        <h2>GERD(Heartburn)</h2>
        <ul>
            <h3>Drugs</h3>
          <li>omeprazole</li>
          <li>pantoprazole</li>
          <li>Nexium</li>
          <li>famotidine</li>
          <li>Protonix</li>
        </ul>
      </div>
      <div class="col">
        <h2>Hair Loss</h2>
        <ul>
            <h3>Drugs</h3>
          <li>spironolactone</li>
          <li>minoxidil</li>
          <li>Azulfidine</li>
          <li>sulfasalazine</li>
          <li>Azulfidine EN-tabs</li>
        </ul>
      </div>
      <div class="col">
        <h2>Hayfever</h2>
        <ul>

            <h3>Drugs</h3>
          <li>Zyrtec</li>
          <li>cetirizine</li>
          <li>fluticasone</li>
          <li>loratadine</li>
          <li>Flonase</li>
        </ul>
      </div>
      <div class="col">
        <h2>Hypertension</h2>
        <ul>
            <h3>Drugs</h3>
          <li>lisinopril</li>
          <li>amlodipine</li>
          <li>losartan</li>
          <li>hydrochlorothiazide</li>
          <li>metoprolol</li>
        </ul>
      </div>
      <div class="col">
        <h2>Insomnia</h2>
        <ul>
            <h3>Drugs</h3>
          <li>trazodone</li>
          <li>Ambien</li>
          <li>zolpidem</li>
          <li>Belsomra</li>
          <li>Dayvigo</li>
        </ul>
      </div>
      <div class="col">
        <h2>Migraine</h2>
        <ul>
            <h3>Drugs</h3>
          <li>sumatriptan</li>
          <li>Imitrex</li>
          <li>Ubrelvy</li>
          <li>Nurtec ODT</li>
          <li>Botox</li>
        </ul>
      </div>
      <div class="col">
        <h2>OSteoporosis</h2>
        <ul>
            <h3>Drugs</h3>
          <li>alendronate</li>
          <li>Fosamax</li>
          <li>Prolia</li>
          <li>calcium/vitamin d</li>
          <li>Boniva</li>
        </ul>
      </div>
      <div class="col">
        <h2>Pain</h2>
        <ul>
            <h3>Drugs</h3>
          <li>tramadol</li>
          <li>gabapentin</li>
          <li>ibuprofen</li>
          <li>oxycodone</li>
          <li>acetaminophen</li>
        </ul>
      </div>
      <div class="col">
        <h2>Pneumonia</h2>
        <ul>
            <h3>Drugs</h3>
          <li>levofloxacin</li>
          <li>clarithromycin</li>
          <li>ceftriaxone</li>
          <li>Levaquin</li>
          <li>azithromycin</li>
        </ul>
      </div>
      <div class="col">
        <h2>Stroke</h2>
        <ul>
            <h3>Drugs</h3>
          <li>Plavix</li>
          <li>clopidogrel</li>
          <li>aspirin</li>
          <li>Activase</li>
          <li>Bayer Aspirin</li>
        </ul>
      </div>
      <div class="col">
        <h2>Swine Flu</h2>
        <ul>
            <h3>Drugs</h3>
          <li>Tamiflu</li>
          <li>oseltamivir</li>
          <li>Relenza</li>
          <li>zanamivir</li>
          <li>peramivir</li>
        </ul>
      </div>
      <div class="col">
        <h2>Obesity</h2>
        <ul>
            <h3>Drugs</h3>
          <li>phentermine</li>
          <li>topiramate</li>
          <li>Adipex-P</li>
          <li>Wegovy</li>
          <li>semaglutide</li>
        </ul>
      </div>

</div>
      

</body>
</html>